html {
    background: url("https://wallpaperaccess.com/full/2448937.jpg")
    fixed;
} 

/* Page Title header */
#app-title {
    font-family: 'Gloria Hallelujah';
}

/* Vertical center text in Page Title header*/
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header nav items custom spacing */
.navbar-item {
    font-size: large;
    padding-right: 1.25rem;
}

#my-list .card {
    width: 295px;
}
/* Carousel and child element styling */
/* Hides all carousel cards not currently being viewed, # defined in js script  */
.carousel {
    overflow: hidden;
}

.card {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.card-footer-item {
    font-weight: bold;
    color: #00C4A7;
}

.mylist-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
}

