/* Page Title header */
#app-title {
    font-family: 'Gloria Hallelujah', cursive;
}

/* Vertical center text in Page Title header*/
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header nav items custom spacing */
.navbar-item {
    font-size: large;
    padding-right: 1.25rem;
}

html {
    background: url("https://wallpaperaccess.com/full/2448937.jpg")
    fixed;

}   
